export AUTH_TOKEN='run [openssl rand -hex 32] and paste the ouput here'

export OPENAI_API_TOKEN=''

export ANTHROPIC_API_TOKEN=''

export GCLOUD_PROJECT_ID=''
export GCLOUD_REGION=''

export PERPLEXITYAI_API_KEY=''
